<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivora - Aprende Python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <a href="/" class="logo">Nivora</a>

        <nav>
            <a href="/aprender">Aprender</a>
            <a href="/practica">Practicar</a>
            <a href="/progreso">Tu progreso</a>
            <a href="/login">Iniciar sesión</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>