{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 style="font-weight: normal; margin-bottom: 2rem;">
        Hola, {{ usuario }}, continúa donde lo dejaste:
    </h2>

    {% for ruta in rutas %}
    <div class="module-card">
        <div style="display: flex; align-items: center;">
            <span class="module-num">{{ ruta.id }}</span>

            <div class="module-info">
                <h4>{{ ruta.nombre }}</h4>
                <p>{{ ruta.descripcion }}</p>
            </div>
        </div>

        <div class="module-status">
            <span style="color: var(--text-sub);">
                {{ ruta.progreso }}
            </span>

            {% if ruta.estado == 'Continuar' %}
                <a href="#" class="btn-continuar-sm">Continuar</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}